<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lineageos.device.NubiaParts.helper"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:label="NubiaPartsHelper"
        android:hasCode="true">

        <receiver
            android:name=".CameraHelper"
            android:exported="true">
            <intent-filter>
                <action android:name="org.lineageos.device.NubiaParts.helper.CameraHelper.ACTION_SET_TORCH"/>
                <action android:name="org.lineageos.device.NubiaParts.helper.CameraHelper.ACTION_START_FRONT_CAMERA_CALLBACK"/>
                <action android:name="org.lineageos.device.NubiaParts.helper.CameraHelper.ACTION_STOP_FRONT_CAMERA_CALLBACK"/>
            </intent-filter>
        </receiver>

        </application>
</manifest>