<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lineageos.device.NubiaParts.power"
    android:versionCode="1"
    android:sharedUserId="android.uid.system"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="NubiaPowerUtils"
        android:defaultToDeviceProtectedStorage="true"
        android:exported="false">

        <service
            android:name=".BypassChargingTile"
            android:icon="@drawable/ic_bypass_charging"
            android:label="Bypass Charging"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver android:name=".ChargingController"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

    </application>


</manifest>