<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lineageos.device.NubiaParts.gameswitch"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />

    <uses-permission
        android:name="org.lineageos.device.NubiaParts.helper.permission.CAMERA" />

    <application
        android:label="@string/app_name"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:persistent="true"
        android:theme="@style/Theme.SubSettingsBase.Expressive"
        android:exported="true">
        <activity
            android:name=".GameSwitchActivity"
            android:label="@string/settings_title"
            android:exported="true">
        </activity>

        <activity
            android:name=".UnlockTrampolineActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent"
            android:taskAffinity=""
            android:launchMode="singleTask" />

        <service
            android:name=".KeyHandler"
            android:exported="true">
        </service>

        <receiver android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>
    </application>
</manifest>
